/node_modules/
/build/
/.idea/
/.ssh/
/src/__mocks__
**/__mock__

.env
.devEnv
.productEnv
.localEnv
.nativeEnv

dist

*.zip
*.rar
*.7z

package-lock.json

/http/
/httpTest/

env.*.json

*.version

/temp
